<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <style>

        footer {
        position: relative;
        height: 300px;
        width: 100%;
        background-color: #FFFFFF;

    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #f0f;
        line-height: 0.2px;
        font-size: 1.2em;
        text-align: right;
        bottom:-100px;
    }
</style>

</head>
<body style="text-align:center;">
<h1>
<button><a href="/">Home</a></button>
<button><a href="/about">About</a></button>
<button><a href="/gallery">Gallery</a></button>
<button><a href="/login">Login</a></button>
<button><a href="/signup">Signup</a></button>
</h1>
<h1>About me</h1>
<img src="http://www.clker.com/cliparts/b/a/2/f/1194984542205677546ppl2.svg.med.png" alt="my picture">
<h2>Krunal Pathak</h2>
<p> <h4>Hello Friends. I am krunal Pathak. I am living in United States of America. I am from Gujarat India.<br>
    I did my Masters in the field of Electrical & Electronics in the year of 2017. Right now am doing my second Masters.<br>
    I took training in python. Our host was Rishabh Tiwari. He was nice instructor and taught us some important topics.<br>
    In this training we learnt python fuctions, classes, Oop's concepts, Django using pychrarm, Operatiors, some looping
    concepts.
</p>

<div>
<footer>
    <p class="copyright">© Krunal Pathak</p>
</footer>
</div>



</body>
</html>